.cover {
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  background-repeat: no-repeat;
  padding-top: 92px;
  min-height: 740px;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 0;
  margin:auto;
  position: relative;
  color: #fff;
}
.cover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 30%;
  top: 0;
  left: 0;
  position: absolute;
  transition: 1s ease-in;
}

.cover:hover:before {
  opacity: 0.8;
}

.cover__content {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 1;
}

.cover__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.06;
  margin: auto;
  text-align: center;
  z-index: 2;
}
.cover__paragraph {
  line-height: 1.22;
  margin: 0;
  padding: 32px 0 32px 0;
  list-style: none;
  text-align: center;
  z-index: 2;
}
.cover__button {
  /*background-color: #0278fe;
  border-radius: 4px;
  align-self: center;
  display: block;
  border: none;
  min-width: 137px;
  color: #ffffff;
  height: min-content;
  min-height: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  max-width: 137px;
  transition: background-color 0.5s ease;*/
  display: flex;
 align-self: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  background: #2f80ed;
  color: #fff;
  width:54%;
  max-width: 137px;
  height: 48px;
  max-height: 48px;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition: background-color 0.5s ease;
}

.cover__button:hover {
  background-color: #0063d2;
}
@media screen and (max-width: 1184px) {
  .cover{
    max-width: 98% ;
  }
}

@media screen and (max-width: 1004px) {
  .cover{
    max-width: 100% ;
  }
}

@media screen and (max-width: 321px) {
  .cover {
    max-width: 320px;
    /*min-height: 254px;*/
  }
  .cover__title {
    padding-left: 56px;
    padding-right: 56px;
    font-size: 32px;
    line-height: 1.09;
  }
  .cover__paragraph {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 16px;
  }
}
