.footer__copyright {
  color: #fff;
  margin: 0;
  text-align: center;
  padding-top: 92px;
  padding-bottom: 24px;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 769px) {
  .footer__copyright {
    padding-top: 82px;
  }
}

@media screen and (max-width: 321px) {
  .footer__copyright {
    padding-top: 64px;
  }
}
