.intro {
  color: #fff;
  /*max-height: 490px;*/
  padding: 0 347px 118px 148px;
}

.intro__title {
  font-size: 54px;
  line-height: 1.07;
  font-weight: bold;
  margin: 0;
  padding-bottom: 40px;
}

.intro__quote {
  margin: 0;
  text-align: left;
  font-size: 24px;
  line-height: 1.42;
  padding-bottom: 10px;
  max-width: 720px;
}
.intro__credit {
  margin: 0;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
  padding-bottom: 32px;
  max-width: 720px;
}

.intro__text {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
@media screen and (max-width: 1082px) {
  .intro {
    padding-right: 200px;
  }
}

@media screen and (max-width: 870px) {
  .intro {
    padding-right: 150px;
  }
}

@media screen and (max-width: 769px) {
  .intro {
    padding: 0 24px 90px 24px;
  }
}

@media screen and (max-width: 321px) {
  .intro {
    padding: 0 16px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.1;
  }
}
