.lead {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.lead__title {
  text-align: center;
  font-size: 96px;
  line-height: 1.04;
  margin: 0 auto;
  font-weight: bold;
  padding: 91px 244px 0 243px;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 32px 280px 62px 280px;
  text-align: center;
}

.lead__image {
  max-width: 984px;
  width: 100%;
  margin: auto;
  padding-bottom: 92px;
}
@media screen and (max-width: 1150px) {
  .lead__title {
    padding-left: 180px;
    padding-right: 180px ;
  }
  .lead__subtitle {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media screen and (max-width: 875px) {
  .lead__title {
    padding-left: 100px;
    padding-right: 100px ;
  }
  .lead__subtitle {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 769px) {
  .lead {
    max-width: 768px;
  }
  .lead__title {
    line-height: 1.04;
    padding-left: 24px;
    padding-right: 24px;
  }
 .lead__subtitle{
   padding-left: 24px;
   padding-right: 24px;
 }
  .lead__image {
    max-width: 100%;
    padding-bottom: 88px;
  }
}
@media screen and (max-width: 540px) {
  .lead__title {
    font-size: 62px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 380px) {
  .lead__title {
    font-size: 50px;
  }
  .lead__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 333px) {
  .lead__subtitle {
    font-size: 19px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 321px) {
  .lead {
    max-width: 320px;
  }
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    padding-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
  .lead__image {
    max-width: 100%;
    padding-bottom: 64px;
  }
}
