.page {
  background-color: #2a2c2f;
}

.page__container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  font-family: "Inter", Arial, sans-serif;
  max-width: 1280px;
  background-position: center;
  margin: 0 auto;
  font-size: 18px;
  background-color: #2a2c2f;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 769px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 321px) {
  .page {
    max-width: 320px;
  }
}
