.place {
  display: grid;
  gap: 48px 40px;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 80px 148px 0 148px;
  margin: auto;
  max-width: 984px;
  grid-template-areas:
    "title artist"
    "image article"
    "button article";
}

.place:first-of-type {
  padding-top: 0;
}
.place:last-of-type {
  padding-bottom: 92px;
}
.place__title {
  display: grid;
  margin: 0;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.06;
  grid-area: title;
  max-width: 100%;
  height: auto;
  text-align: left;
  align-items: end;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-area: artist;
}

.place__url-heading {
  font-size: 12px;
  grid-area: website;
  color: #aaaaaa;
  line-height: 15px;
  letter-spacing: 0.12em;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.place__artist {
  margin: 0;
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
}
.place__image {
  max-width: 100%;
  height: auto;
  grid-area: image;
}

.place__article {
  grid-area: article;
}
.place__paragraph {
  margin: 0;
  padding-bottom: 25px;
}
.place__paragraph:last-of-type {
  padding-bottom: 0;
}
.place__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  background: #2f80ed;
  color: #fff;
  max-width: 248px;
  height: 48px;
  max-height: 48px;
  padding: 0;
  transition: background-color 0.5s ease;
  grid-area: button;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.place__button:hover {
  background-color: #0063d2;
}
@media screen and (max-width: 1100px) {
  .place {
    grid-template-columns: 45% 55%;
    padding-right: 120px;
    padding-left: 120px;
  }
  .place__title {
    font-size: 56px;
  }
}
@media screen and (max-width: 915px) {
  .place {
    padding-left: 120px;
    padding-right: 120px;
  }
  .place__title {
    font-size: 54px;
  }
}
@media screen and (max-width: 850px) {
  .place {
    padding-right: 80px;
    padding-left: 80px;
  }
  .place__title {
    font-size: 52px;
  }
}

@media screen and (max-width: 769px) {
  .place {
    gap: 46px 28px;
    padding: 72px 24px 0 24px;
  }
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
  .place__image {
    max-width: 100%;
  }
  .place__paragraph {
    line-height: 26px;
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: 40% 1fr;
  }
  .place__title {
    font-size: 38px;
  }
  .place__image {
    margin: auto;
  }
}
@media screen and (max-width: 561px) {
  .place {
    grid-template-columns: 40% 1fr;
  }
  .place__title {
    font-size: 34px;
  }
  .place__image {
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .place__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .place {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    max-width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "article"
      "button";
  }
  .place__title {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 288px;
    justify-content: left;
  }
  .place__url-heading {
    padding-left: 16px;
    padding-right: 16px;
  }
  .place__artist {
    padding-left: 16px;
    padding-right: 16px;
  }
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
  .place__button {
    align-self: center;
    max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 321px) {
  .place {
    grid-template-rows: auto;
    grid-template-columns: 100%;
    row-gap: 30px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "article"
      "button";
  }

  .place__paragraph {
    padding: inherit 16px;
    font-size: 16px;
  }

  .place__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .place__image {
    max-width: 100%;
    padding: 0;
  }

  .place__button {
    max-width: 288px;
  }
  .place:last-of-type {
    padding-bottom: 64px;
  }
}
